
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color:#1f2833 !important;
    font-family: "Josefin Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

p {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}
h6 {
  margin: 0;
  font-weight: 400;
  font-family: "Play", sans-serif;
}

.padtb {
  padding: 60px 0;
}



#header2 {
  
  height: 60px;
  background :black;
  z-index: 50;
  
}

#header2 .logo h1 {
  font-size: 28px;
  margin: 0;
  color: white;
  padding-bottom: 5px ;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
  
}
#features {
  padding: 0px !important;
  overflow: hidden;
}




.about .content {
  
  padding: 20px;

}



.about h2 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  display: block;
  color: #66fcf1;
  text-align: center;
}

.about h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.about h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #66fcf1;
  bottom: 0;
  left: calc(50% - 20px);
}

@media (max-width: 768px) {
  .about h2 {
    font-size: 28px;
  }
}


.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
  color: white;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 50px;
  transition: 0.5s;
  color: #0b0c10;
  background: #66fcf1;
  
  text-decoration: none;
}

.about .btn-read-more span {
  font-family:"Josefin Sans", sans-serif;;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
  color: #66fcf1;
  
}
.about .btn-read-more:hover {
  background: black;
  box-shadow: 0 0 10px 0 #45A29E inset, 0 0 10px 4px #66FCF1;
  color: #66fcf1;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}




.features .feture-tabs {
  margin-top: 120px;
}


.features .feture-tabs h3 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  display: block;
  color: #66fcf1;
  text-align: center;
}

.features .feture-tabs h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.features .feture-tabs h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #66fcf1;
  bottom: 0;
  left: calc(50% - 20px);
}

@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}

.features .feture-tabs .nav-pills {
  border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #45a296;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}

.features .feture-tabs .nav-link.active {
  color: #c5c6c7;
  border-bottom: 3px solid #66fcf1;
  background: none ;
}

.features .feture-tabs .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color:#c5c6c7;
}


.features .feture-tabs .tab-content p {
 
  color:white;
}
.features .feture-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: #66fcf1;
}

.features .feature-icons {
  margin-top: 120px;
}

.features .feature-icons h3 {
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}



#second_about{
  padding-right: 30px;
  margin-top: 50px;
}


.title-head h4 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  display: block;
  color: #66fcf1;
  text-align: center;
}

.title-head h4::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.title-head h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #66fcf1;
  bottom: 0;
  left: calc(50% - 20px);
}

@media (max-width: 768px) {
  .title-head h4 {
    font-size: 28px;
  }
}

.cont-row{
  padding-bottom: 15px;
}
.cont-row P{
  color: white;
}

.cont-row .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 50px;
  transition: 0.5s;
  color: #0b0c10;
  background: #66fcf1;
  
  text-decoration: none;
}

.cont-row .btn-read-more span {
  font-family: "Josefin Sans", sans-serif;;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.cont-row .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.cont-row .btn-read-more:hover i {
  transform: translateX(5px);
  color: #66fcf1;
  
}
.cont-row .btn-read-more:hover {
  background: black;
  box-shadow: 0 0 10px 0 #45A29E inset, 0 0 10px 4px #66FCF1;
  color: #66fcf1;
}





/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counter{
  margin-top: 50px!important;
  margin-bottom: 100px !important;
  color: #66fcf1;
  font-family:"Josefin Sans", sans-serif;;
  text-align: center;
  height: 285px;
  width: 200px;
  padding: 85px 31px 25px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  }
  .counter:before,
  .counter:after{
  content: "";
  background: linear-gradient(to bottom,#36D1DC,#66fcf1);
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  border-radius: 50% 0;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.3s;
  }
  .counter:hover:before{ box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .counter:after{
  background:black;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  }
  .counter .counter-icon{
  font-size: 25px;
  transition: all 0.3s;
  }
  .counter:hover .counter-icon{ transform: rotateY(360deg); }
  .counter .counter-value{
  font-size: 30px;
  font-weight: 600;
  display: block;
  }
  .counter h3{
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  }
  .counter.purple{ color: #66fcf1; }
  .counter.purple:before{ background: linear-gradient(to bottom,#36D1DC,#66fcf1); }
  .counter.orange{ color: #66fcf1; }
  .counter.orange:before{ background: linear-gradient(to bottom,#36D1DC,#66fcf1); }
  .counter.green{ color: #66fcf1; }
  .counter.green:before{ background: linear-gradient(to bottom,#36D1DC,#66fcf1); }
  @media screen and (max-width:990px){
      .counter{ margin-bottom: 40px; }
  }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}
@media screen and (max-width:576px){
  .counterbox{ left: 18%;}
}
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
 
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #66fcf1;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #66FCF1;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }  
  @media (min-width: 1200px){
.main-container {
    padding-left: 80px !important;
    padding-right: 25px !important;
}}