@import url("https://fonts.googleapis.com/css?family=Francois+One");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
     margin-top: 100px;
    padding: 0;
    background-color: white;
}
#header2 {
  
  height: 60px;
  background :black;
  z-index: 50;
  
}

#header2 .logo h1 {
  font-size: 28px;
  margin: 0;
  color: white;
  padding-bottom: 5px ;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}


ol, ul {
  width: 100%;
}

.about-main {
  padding-top: 50px;
  overflow: hidden;
}


h1 {
  background: -webkit-linear-gradient(#5afacb, #f64655);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 19pt;
  font-weight: 100;
  float: left;
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  line-height: 50pt;
  text-transform: uppercase;
  font-family: "Francois One", sans-serif;
  padding: 10px;
  padding-bottom: 40px;
  margin-top: 150px;
  position: relative;
}

h1 span {
  content: "";
  width: 2px;
  height: 50px;
  float: left;
  left: 50%;
  position: absolute;
  top: 100%;
  background: -webkit-linear-gradient(top, #5afacb, #f64655);
  mix-blend-mode: multiply;
}

.backShapes {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  float: left;
  font-family: "Francois One", sans-serif;
  top: -245px;
  left: -100px;
  background: -webkit-linear-gradient(bottom, #5afacb, #f64655);
  opacity: 0.3;
  mix-blend-mode: multiply;
  
}

.backShapes span {
  width: 100%;
  float: left;
  margin: 0px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: screen;
  padding: 50px 0px 50px 0px;
}

.backShapes span .plus {
  width: 400px;
  float: left;
  height: 400px;
  position: relative;
}

.backShapes span .plus:after {
  content: "";
  position: absolute;
  float: left;
  width: 100%;
  height: 70px;
  left: 0;
  background: #000;
  top: 50%;
  margin-top: -35px;
}

.backShapes span .plus:before {
  content: "";
  position: absolute;
  float: left;
  width: 70px;
  height: 100%;
  left: 50%;
  background: #000;
  top: 0;
  margin-left: -35px;
}

.backShapes span .circ {
  width: 400px;
  float: left;
  height: 400px;
  border-radius: 5000px;
  border: 60px solid #000;
}

.bottomPart {
  width: 100%;
  float: left;
  position: relative;
  padding: 0px;
  z-index: 1;
}

.bottomPart img {
  width: 70%;
  position: relative;
  opacity: 0.9;
  float: right;
  padding: 0px;
  bottom: 0px;
  z-index: -10;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}

.bottomPart .gradLine {
  content: '';
  float: left;
  position: absolute;
  bottom: 0;
  height: 30px;
  right: 0;
  width: 50%;
  z-index: 10;
  background: -webkit-linear-gradient(right, #5afacb, #f64655);
  mix-blend-mode: multiply;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

.bottomPart .gradLine.open {
  width: 85%;
}

.bottomPart .floatingText {
  width: 100%;
  top: 25%;
  float: left;
  padding: 10px;
  padding-left: 7%;
  z-index: 1000;
  position: absolute;
}

.bottomPart .floatingText .buttonLink {
  float: left;
  font-size: 9pt;
  background: #1A2328;
  clear: both;
  color: #fff;
  font-family: "Francois One", sans-serif;
  padding: 10px 20px 10px 20px;
  letter-spacing: 5px;
  margin-top: 10px;
  font-weight: 5px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  opacity: 0;
  transform: translate(-70px, 0px);
  -webkit-transform: translate(-70px, 0px);
  position: relative;
  cursor: pointer;
}

.bottomPart .floatingText .buttonLink:after {
  content: '';
  left: 0px;
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 0;
  left: 0;
  transition: all 0s ease;
  -webkit-transition: all 0s ease;
  border: 2px solid #1A2328;
}

.bottomPart .floatingText .buttonLink:hover:after {
  -webkit-transform: scale(1.2, 1.5);
          transform: scale(1.2, 1.5);
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.bottomPart .floatingText h2 {
  background: -webkit-linear-gradient(right, #5afacb, #f64655);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38pt;
  clear: both !important;
  float: left;
  width: auto;
  letter-spacing: 5px;
  line-height: 50pt;
  text-transform: uppercase;
  font-family: "Francois One", sans-serif;
  margin-bottom: 10px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.4s;
  opacity: 0;
  transform: translate(-70px, 0px);
  -webkit-transform: translate(-70px, 0px);
}

.bottomPart .floatingText p {
  color: #3a3a3a;
  font-family: "Francois One", sans-serif;
  width: 500px;
  float: left;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  clear: both !important;
  margin: 0px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  opacity: 0;
  transform: translate(-70px, 0px);
  -webkit-transform: translate(-70px, 0px);
}

.bottomPart .floatingText.open h2,
.bottomPart .floatingText.open p, .bottomPart .floatingText.open .buttonLink {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
  -webkit-transform: translate(0px, 0px) !important;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

.bottomPart .floatingText.open p {
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}

.bottomPart .floatingText.open .buttonLink {
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}

.bottomPart.reverse {
  margin-top: 00px;
  position: relative;
}

.bottomPart.reverse img {
  float: left !important;
  width: 60%;
}

.bottomPart.reverse .gradLine {
  position: absolute;
  left: 0;
  bottom: 0;
  float: left;
  width: 85% !important;
  background: -webkit-linear-gradient(left, #5afacb, #f64655);
}

.bottomPart.reverse .floatingText {
  padding-right: 7%;
  top: 20%;
}

.bottomPart.reverse .floatingText .buttonLink {
  float: right;
  transform: translate(50px, 0px) !important;
  -webkit-transform: translate(50px, 0px);
}

.bottomPart.reverse .floatingText h2 {
  background: -webkit-linear-gradient(left, #5afacb, #f64655);
  width: auto;
  float: right;
  text-align: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(50px, 0px) !important;
  -webkit-transform: translate(50px, 0px);
}

.bottomPart.reverse .floatingText p {
  float: right;
  text-align: right;
  transform: translate(50px, 0px) !important;
  -webkit-transform: translate(50px, 0px);
}

.bottomPart.reverse .floatingText.open h2,
.bottomPart.reverse .floatingText.open p,
.bottomPart.reverse .floatingText.open .buttonLink {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
  -webkit-transform: translate(0px, 0px) !important;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

.bottomPart.reverse .floatingText.open p {
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
}

.bottomPart.reverse .floatingText.open .buttonLink {
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}



/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

  
  .counter{
    color: #eb3b5a;
    font-family: 'Muli', sans-serif;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 100%;
    padding: 77px 32px 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #fff;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
    transform: translateX(-50%)translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.counter:after{
    background: linear-gradient(45deg,#B81242 49%, #D74A75 50%);
    width: 100%;
    height: 100%;
    box-shadow: none;
    transform: translate(0);
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.counter .counter-icon{
    color: #fff;
    background: linear-gradient(45deg,#B81242 49%, #D74A75 50%);
    font-size: 33px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top:  0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
}
.counter .counter-icon i.fa{
    transform: rotateX(0deg);
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon i.fa{ transform: rotateX(360deg); }
.counter h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px;
}
.counter .counter-value{
    font-size: 30px;
    font-weight: 700;
}
.counter.orange{ color: #F38631; }
.counter.orange:after,
.counter.orange .counter-icon{
    background: linear-gradient(45deg,#F38631 49%,#F8A059 50%);
}
.counter.green{ color: #88BA1B; }
.counter.green:after,
.counter.green .counter-icon{
    background: linear-gradient(45deg,#88BA1B 49%,#ACD352 50%);
}
.counter.blue{ color: #5DB3E4; }
.counter.blue:after,
.counter.blue .counter-icon{
    background: linear-gradient(45deg,#5DB3E4 49%,#7EBEE1 50%);
}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services {
    padding-bottom: 30px;
  }
  
  .services .icon-box {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .services .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;    
    border-radius: 50%;
    transition: 0.5s;
    background: -webkit-linear-gradient(#5afacb, #f64655);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
  
  .services .icon i {
    font-size: 36px;
    line-height: 0;
  }
  
  .services .icon-box:hover .icon {
    box-shadow: 0px 0 30px rgba(66, 139, 202, 0.5);
  }
  
  .services .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
    
  }
  
  .services .title a {
    background: -webkit-linear-gradient(#5afacb, #f64655);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
  }
  
  .services .title a:hover {
    background: -webkit-linear-gradient(#5afacb, #f64655);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .services .title::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: -webkit-linear-gradient(#5afacb, #f64655);
    
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .services .description {
    line-height: 24px;
    font-size: 14px;
  }
  
  
  
  
   
  


@media screen and (min-width: 1200px) {
  .bottomPart h2 {
    font-size: 55pt !important;
    line-height: 60pt !important;
  }
  .bottomPart p {
    font-size: 14pt;
    width: 650px !important;
  }
}

@media screen and (max-width: 1080px) {
  .bottomPart .floatingText {
    top: 40% !important;
  }
  .bottomPart.reverse .floatingText {
    top: 20% !important;
  }
}

@media screen and (max-width: 800px) {
  .bottomPart img {
    display: none !important;
  }
  .bottomPart .floatingText {
    width: 100% !important;
    position: relative !important;
    float: left !important;
  }
  .bottomPart .floatingText h2, .bottomPart .floatingText p {
    float: left !important;
    width: 100% !important;
  }
  .pageWrapper h1 span {
    max-height: 50px !important;
  }
}
