@import url("https://fonts.googleapis.com/css?family=Francois+One");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color:#1f2833 !important;
}

.padtb {
  padding: 60px 0;
}



#header2 {
  
  height: 60px;
  background :black;
  z-index: 50;
  
}

#header2 .logo h1 {
  font-size: 28px;
  margin: 0;
  color: white;
  padding-bottom: 5px ;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}
#features {
  padding: 0px !important;
  overflow: hidden;
}




.about .content {
  background-color: #0b0c10;
  padding: 40px;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #c5c6c7;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #66fcf1;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
  color: white;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 50px;
  transition: 0.5s;
  color: #0b0c10;
  background: #66fcf1;
  
  text-decoration: none;
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
  color: #66fcf1;
  
}
.about .btn-read-more:hover {
  background: black;
  box-shadow: 0 0 10px 0 #45A29E inset, 0 0 10px 4px #66FCF1;
  color: #66fcf1;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #4154f1;
  color: #fff;
}

.features .feture-tabs {
  margin-top: 120px;
}


.features .feture-tabs h3 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  display: block;
  color: #66fcf1;
  text-align: center;
}

.features .feture-tabs h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.features .feture-tabs h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #66fcf1;
  bottom: 0;
  left: calc(50% - 20px);
}

@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}

.features .feture-tabs .nav-pills {
  border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #45a296;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}

.features .feture-tabs .nav-link.active {
  color: #c5c6c7;
  border-bottom: 3px solid #66fcf1;
  background: none ;
}

.features .feture-tabs .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color:#c5c6c7;
}


.features .feture-tabs .tab-content p {
 
  color:white;
}
.features .feture-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: #66fcf1;
}

.features .feature-icons {
  margin-top: 120px;
}

.features .feature-icons h3 {
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}



#second_about{
  padding-right: 30px;
  margin-top: 50px;
}

.title-head h4 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #66fcf1;
}

.title-head h4::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.title-head h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #66fcf1;
  bottom: 0;
  left: calc(50% - 20px);
}
.cont-row{
  padding-bottom: 15px;
}
.cont-row P{
  color: white;
}

.cont-row .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 50px;
  transition: 0.5s;
  color: #0b0c10;
  background: #66fcf1;
  
  text-decoration: none;
}

.cont-row .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.cont-row .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.cont-row .btn-read-more:hover i {
  transform: translateX(5px);
  color: #66fcf1;
  
}
.cont-row .btn-read-more:hover {
  background: black;
  box-shadow: 0 0 10px 0 #45A29E inset, 0 0 10px 4px #66FCF1;
  color: #66fcf1;
}





/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

  
  .counter{
    color: #66FCF1;
    font-family: 'Muli', sans-serif;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 100%;
    padding: 77px 32px 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #1f2833;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
    transform: translateX(-50%)translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.counter:after{
    background: linear-gradient(45deg,#66FCF1 49%,#45A29E 50%);
    width: 100%;
    height: 100%;
    box-shadow: none;
    transform: translate(0);
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.counter .counter-icon{
    color: #0b0c10;
    background:linear-gradient(45deg,#66FCF1 49%,#45A29E 50%);
    font-size: 33px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top:  0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
}
.counter .counter-icon i.fa{
    transform: rotateX(0deg);
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon i.fa{ transform: rotateX(360deg); }
.counter h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px;
}
.counter .counter-value{
    font-size: 30px;
    font-weight: 700;
}
.counter.orange{ color: #66FCF1; }
.counter.orange:after,
.counter.orange .counter-icon{
    background: linear-gradient(45deg,#66FCF1 49%,#45A29E 50%);
}
.counter.green{ color: #66FCF1; }
.counter.green:after,
.counter.green .counter-icon{
    background: linear-gradient(45deg,#66FCF1 49%,#45A29E 50%);
}
.counter.blue{ color: #66FCF1; }
.counter.blue:after,
.counter.blue .counter-icon{
    background: linear-gradient(45deg,#66FCF1 49%,#45A29E 50%);
}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}
@media screen and (max-width:576px){
  .counterbox{ left: 18%;}
}
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
 
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #66fcf1;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #66FCF1;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  .services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background:#0b0c10;
  }
  
  .services .icon-box .icon {
    margin-bottom: 10px;
  }
  
  .services .icon-box .icon i {
    color: #c5c6c7;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #66fcf1;
    transition: ease-in-out 0.3s;
  }

  .services .icon-box p {
    color: #c5c6c7;
   
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    transform: translateY(-10px);
    text-decoration: none;
   
  }
  
  .services .icon-box:hover h4 a {
    color: #45a29e;
    text-decoration: none;
  }
  
   
  @media (min-width: 1200px){
.main-container {
    padding-left: 80px !important;
    padding-right: 25px !important;
}


