
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Small screen*/
@media (max-width: 576px) {
    .grid-xs-1 {
        width: 8.33%;
    }
    .grid-xs-2 {
        width: 16.66%;
    }
    .grid-xs-3 {
        width: 25%;
    }
    .grid-xs-4 {
        width: 33.33%;
    }
    .grid-xs-5 {
        width: 41.66%;
    }
    .grid-xs-6 {
        width: 50%;
    }
    .grid-xs-7 {
        width: 58.33%;
    }
    .grid-xs-8 {
        width: 66.66%;
    }
    .grid-xs-9 {
        width: 75%;
    }
    .grid-xs-10 {
        width: 83.33%;
    }
    .grid-xs-11 {
        width: 91.66;
    }
    .grid-xs-12 {
        width: 100%;
    }
}

/*Mobile*/
@media (min-width: 577px) and (max-width: 767px) {
    .grid-sm-1 {
        width: 8.33%;
    }
    .grid-sm-2 {
        width: 16.66%;
    }
    .grid-sm-3 {
        width: 25%;
    }
    .grid-sm-4 {
        width: 33.33%;
    }
    .grid-sm-5 {
        width: 41.66%;
    }
    .grid-sm-6 {
        width: 50%;
    }
    .grid-sm-7 {
        width: 58.33%;
    }
    .grid-sm-8 {
        width: 66.66%;
    }
    .grid-sm-9 {
        width: 75%;
    }
    .grid-sm-10 {
        width: 83.33%;
    }
    .grid-sm-11 {
        width: 91.66;
    }
    .grid-sm-12 {
        width: 100%;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
    .grid-md-1 {
        width: 8.33%;
    }
    .grid-md-2 {
        width: 16.66%;
    }
    .grid-md-3 {
        width: 25%;
    }
    .grid-md-4 {
        width: 33.33%;
    }
    .grid-md-5 {
        width: 41.66%;
    }
    .grid-md-6 {
        width: 50%;
    }
    .grid-md-7 {
        width: 58.33%;
    }
    .grid-md-8 {
        width: 66.66%;
    }
    .grid-md-9 {
        width: 75%;
    }
    .grid-md-10 {
        width: 83.33%;
    }
    .grid-md-11 {
        width: 91.66;
    }
    .grid-md-12 {
        width: 100%;
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    .grid-lg-1 {
        width: 8.33%;
    }
    .grid-lg-2 {
        width: 16.66%;
    }
    .grid-lg-3 {
        width: 25%;
    }
    .grid-lg-4 {
        width: 33.33%;
    }
    .grid-lg-5 {
        width: 41.66%;
    }
    .grid-lg-6 {
        width: 50%;
    }
    .grid-lg-7 {
        width: 58.33%;
    }
    .grid-lg-8 {
        width: 66.66%;
    }
    .grid-lg-9 {
        width: 75%;
    }
    .grid-lg-10 {
        width: 83.33%;
    }
    .grid-lg-11 {
        width: 91.66;
    }
    .grid-lg-12 {
        width: 100%;
    }
}

.grid-xs-1, .grid-xs-2, .grid-xs-3, .grid-xs-4, .grid-xs-5,
.grid-xs-6, .grid-xs-7, .grid-xs-8, .grid-xs-9, .grid-xs-10, .grid-xs-11, .grid-xs-12, 

.grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5,
.grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12, 

.grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5,
.grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12, 

.grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5,
.grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12 
{
    float: left;
}

body {
    scrollbar-color: #eb168183 white;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
    background: white;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ac1b63; 
    border-radius: 40px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #EB167F;
  }