
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Josefin Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Play", sans-serif;
  }
/*--------------------------------------------------------------
  # Header 2
  --------------------------------------------------------------*/
  
#hero {
    width: 100%;
    height: 75vh;
    background: #0b0c10;
    background-size: cover;
    background-position: 75px;
    padding: 0 15px;
    z-index:0;
    position: relative;
  }
  #hero::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    z-index: -1;
  }
  
  #hero .image {
    height:auto;
    width:600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* #hero .image1 {
    margin: auto;
    text-align: center;
    height:210px;
    width:500px;
  }*/
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    font-style: bold;
  }
  
  
  #hero h2 {
    color:#66fcf1;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 300;
    font-style: bold;
    text-align: center;
  }
  
  #hero .btn-get-started {
    font-size: 64px;
    transition: 0.5s;
    color: #66fcf1;
    height: 60px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #hero .btn-get-started:hover {
    padding-top: 10px;
    color: #c5c6c7;
    margin: auto;
  }
  
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  

.header2 {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    height: 60px;
    background: #000;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
  }

  
  
  .header2 .logo h1 {
    font-size: 26px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 2px 3px #66fcf1;
  }
  
  .header2 .logo h1 a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 7px ;
  }
  
  .header2 .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .container-fluid {
    padding-top: 64px !important;
  }  
  


/*Small screen*/
@media (max-width: 576px) {
    .grid-xs-1 {
        width: 8.33%;
    }
    .grid-xs-2 {
        width: 16.66%;
    }
    .grid-xs-3 {
        width: 25%;
    }
    .grid-xs-4 {
        width: 33.33%;
    }
    .grid-xs-5 {
        width: 41.66%;
    }
    .grid-xs-6 {
        width: 50%;
    }
    .grid-xs-7 {
        width: 58.33%;
    }
    .grid-xs-8 {
        width: 66.66%;
    }
    .grid-xs-9 {
        width: 75%;
    }
    .grid-xs-10 {
        width: 83.33%;
    }
    .grid-xs-11 {
        width: 91.66;
    }
    .grid-xs-12 {
        width: 100%;
    }
}

/*Mobile*/
@media (min-width: 577px) and (max-width: 767px) {
    .grid-sm-1 {
        width: 8.33%;
    }
    .grid-sm-2 {
        width: 16.66%;
    }
    .grid-sm-3 {
        width: 25%;
    }
    .grid-sm-4 {
        width: 33.33%;
    }
    .grid-sm-5 {
        width: 41.66%;
    }
    .grid-sm-6 {
        width: 50%;
    }
    .grid-sm-7 {
        width: 58.33%;
    }
    .grid-sm-8 {
        width: 66.66%;
    }
    .grid-sm-9 {
        width: 75%;
    }
    .grid-sm-10 {
        width: 83.33%;
    }
    .grid-sm-11 {
        width: 91.66;
    }
    .grid-sm-12 {
        width: 100%;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
    .grid-md-1 {
        width: 8.33%;
    }
    .grid-md-2 {
        width: 16.66%;
    }
    .grid-md-3 {
        width: 25%;
    }
    .grid-md-4 {
        width: 33.33%;
    }
    .grid-md-5 {
        width: 41.66%;
    }
    .grid-md-6 {
        width: 50%;
    }
    .grid-md-7 {
        width: 58.33%;
    }
    .grid-md-8 {
        width: 66.66%;
    }
    .grid-md-9 {
        width: 75%;
    }
    .grid-md-10 {
        width: 83.33%;
    }
    .grid-md-11 {
        width: 91.66;
    }
    .grid-md-12 {
        width: 100%;
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    .grid-lg-1 {
        width: 8.33%;
    }
    .grid-lg-2 {
        width: 16.66%;
    }
    .grid-lg-3 {
        width: 25%;
    }
    .grid-lg-4 {
        width: 33.33%;
    }
    .grid-lg-5 {
        width: 41.66%;
    }
    .grid-lg-6 {
        width: 50%;
    }
    .grid-lg-7 {
        width: 58.33%;
    }
    .grid-lg-8 {
        width: 66.66%;
    }
    .grid-lg-9 {
        width: 75%;
    }
    .grid-lg-10 {
        width: 83.33%;
    }
    .grid-lg-11 {
        width: 91.66;
    }
    .grid-lg-12 {
        width: 100%;
    }
}

.grid-xs-1, .grid-xs-2, .grid-xs-3, .grid-xs-4, .grid-xs-5,
.grid-xs-6, .grid-xs-7, .grid-xs-8, .grid-xs-9, .grid-xs-10, .grid-xs-11, .grid-xs-12, 

.grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5,
.grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12, 

.grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5,
.grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12, 

.grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5,
.grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12 
{
    float: left;
}

body {
    scrollbar-color: #eb168183 white;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
    background: white;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #45a29e; 
    border-radius: 40px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #66fcf1;
  }

  .fa-hourglass-half {
      margin-left: 2px !important;
  }