body {
    color: #272829;
    background: #1f2833;
    background-size: 300% 300%;
    
}

.contact-title {
  text-align: center;
  font-size: 32px;
  color: #66fcf1;
  padding-bottom: 50px;
}


a {
    color: #66fcf1;
    text-decoration: none;
  }
  
  a:hover {
    color: #c5c6c7;
    text-decoration: none;
  }
  
  
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  
  #hero {
    width: 100%;
    height: 75vh;
    background: #0b0c10;
    background-size: cover;
    background-position: 75px;
    padding: 0 15px;
    z-index:0;
    position: relative;
  }
  #hero::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    z-index: -1;
}
  
  #hero .image {
    height:202px;
    width:600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* #hero .image1 {
    margin: auto;
    text-align: center;
    height:210px;
    width:500px;
  }*/
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
  
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    color: #345676;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #d43076;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    text-align: center;
    margin-bottom: 0;
  }

  .header2 {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    height: 60px;
    background: #000;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
  }

  
  
  .header2 .logo h1 {
    font-size: 26px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #66fcf1;
    font-style: bold;
    
  }
  
  .header2 .logo h1 a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 7px ;
  }
  
  .header2 .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  .scrolled-offset {
    margin-top: 60px;
  }


/*   contact section  */
  .section-title p{
    color: #66fcf1;
    font-size: 22px;
  }
  .contact {
    padding-bottom: 80px;
  }
  
  .contact .info-box {
    color: #ffffff;
    background: #0b0c10;
    text-align: center;
    
    padding: 20px 0 30px 0;
  }
  
  .contact .info-box i {
    font-size: 32px;
    color: #66fcf1;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form {
    
    padding: 30px;
    background: #0b0c10;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    
    font-size: 14px;
  }
  
  .contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
    background-color: #66fcf1;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #66fcf1;
    border: 0;
    padding: 10px 24px;
    color: #0b0c10;
    transition: 0.4s;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #45a29e;
    color: #ffffff;
  }


  .contact .php-email-form input[type="text"],
  .contact .php-email-form input[type="email"],
  .contact .php-email-form textarea{
    background:#ffffff;
    color: gray !important;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}