html{
  height: 100%;
}

body{
  background-color: #0b0c10 ;
  min-height: 100%;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index:-10;
}
.closebtn {
  position: absolute;
  top: 5px;
  right:0px;
  margin-right:15px;
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  padding:6px;
  background-color:#000000;
  color:white;
  font-size:1.03em
}
.closebtn i{
  font-size: 18px
}

.header2 {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  height: 60px;
  background: #000;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}



.header2 .logo h1 {
  font-size: 26px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 3px #66fcf1;
}

.header2 .logo h1 a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 7px ;
}

.header2 .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.mainDiv {
    padding: 80px;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
 .cardStyle {
    width: 450px;
    
     background-color: #1F2833;
    
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-bottom: 25px;
  color: white;
  text-align: center;
}

input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 20px;
}
  .submitButton {
    width: 100px;
    height: 40px;
    margin: auto;
    display: block;
    border-radius: 24px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  border-color: #45A29E;
  color: rgb(0, 0, 0);
  background-color: #66FCF1;
 /*background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);*/
  transition: all 150ms ease-in-out;
  }
  .submitButton:hover{
    background: 	#303030;
  box-shadow: 0 0 10px 0 #45A29E inset, 0 0 10px 4px #66FCF1;
  color: rgb(255, 255, 255);
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}




.input-group {
  /*border: 2px solid #3498db;*/
  position: relative;
  background: #1F2833;
  margin: 1px 0;
  border-radius: 2px;
  overflow: hidden;
  padding: 0px;
  text-align: center;
  border-radius: 24px;
}

.input-group input {
  border: 0;
  background: none;
  display: block;
  margin: 15px auto;
  text-align: center;
  border: 2px solid #C8CACA;
  padding: 10px 10px;
  width: 240px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.25s
}

.input-group   :focus{
  width: 280px;
    border-color: #66fcf1;

}





@media screen and (max-width:900px){
  .mainDiv{ padding-top: 100px; }
}

@media screen and (max-width: 504px){
  .mainDiv{ 
    padding: 130px 30px 80px 30px; 
   
  }
  .cardStyle {
    padding: 36px 20px;
  }
}

