* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #1f2833!important;
    width: 100%;
    padding: 0;
    
}

.main-content{
  margin-top: 100px;
}
.pull-right {
  float: right;
}

.padrl {
  padding-right: 40px;
  padding-left: 10px;
}







.faq-nav {
  flex-direction: column;
  margin:  32px;
  border-radius: 1px;
 
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  margin-bottom: 100px;

}
.faq-nav .nav-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color:#0b0c10;
  border: 0;

  border-radius: 0;
  color: white;
  transition: background-color .2s ease;
}
.faq-nav .nav-link:hover {
  background-color: #45a29e;
}
.faq-nav .nav-link.active {
  background-color: #66fcf1!important;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87)!important;
}
.faq-nav .nav-link:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0;
}
.faq-nav .nav-link i.mdi {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
}



a:hover, a:focus{
  text-decoration: none !important;
  outline: none !important;
  
}
.panel-group .panel{
  background-color: #c5c6c7;
  border:none;
  box-shadow:none;
  border-radius: 10px;
  margin-bottom:11px;
}
.panel .panel-heading{
  padding: 0;
  border-radius:10px;
  border: none;
}
.panel-heading a{
  text-decoration:none;
  color:white !important;
  display: block;
  border:none;
  padding:20px 35px 20px;
  font-size: 20px;
  background-color:#0b0c10;
  font-weight:600;
  position: relative;
  color:#fff;
  box-shadow:none;
  transition:all 0.1s ease 0;
}
.panel-heading a:after, .panel-heading a.collapsed:after{
  content: "\f068";
  font-family: fontawesome;
  text-align: center;
  position: absolute;
  left:-20px;
  top: 10px;
  color:#816d6d !important;
  background-color:#fff;
  border: 5px solid #fff;
  font-size: 15px;
  width: 40px;
  height:40px;
  line-height: 30px;
  border-radius: 50%;
  transition:all 0.3s ease 0s;
}
.panel-heading:hover a:after,
.panel-heading:hover a.collapsed:after{
  transform:rotate(360deg);
}
.panel-heading a.collapsed:after{
  content: "\f067";
}
#accordion .panel-body{
  background: color #c5c6c7;;
  color:black;
  line-height: 25px;
  padding: 10px 25px 20px 35px ;
  border-top:none;
  position: relative;
}
.text-white{
  color:#66fcf1;
  text-transform: uppercase;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #66fcf1;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #66fcf1;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
.padleft {
  padding-right: 30px;
}

@media (min-width: 1202px){
  .main-content {
    padding-left: 75px !important;
  }
}
@media (max-width: 992px){
  .padleft {
    padding-left: 50px !important;
  }
}







