@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.footer-dark {
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px;
    line-height: 1.7em;
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3{
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    color:white;
  }

  .footer-dark h3 a{
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    color:white;
  }

  .footer-dark h3 a:hover{
      text-decoration: none;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .psg{
    width: 53px;
    margin-right: 1em;
  }

  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
.colu1 , .colu2{
  text-align:center;
}

  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
    box-shadow: 0 0 7px #ffdf00;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }