
.footer {
  background: #0B0C10;
}

.footer__top {
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__top__logo {
  line-height: 40px;
}
.footer__top__logo a {
  display: inline-block;
}

.footer__top__social {
  text-align: left;
}
.footer__top__social a {
  display: inline-block;
  font-size: 15px;
  color: #66fcf1 ;
  height: 40px;
  width: 40px;
  background: #1f2833;
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
  margin-right: 6px;
}
.footer__top__social a i { 
  color: #66fcf1 !important;
}
.footer__top__social a :hover {
  color: #c5c6c7;
}
.footer__top__social a:last-child {
  margin-right: 0;
}

.footer__option {
  padding-bottom: 0px;
  padding-top: 55px;
}

.footer__option__item {
  margin-bottom: 35px;
}
.footer__option__item h5 {
  color: #66fcf1;
  font-weight: 700;
  margin-bottom: 35px;
  text-align:left;
  padding-left: 20%;
  justify-content: center;
}
.footer__option__item h6 {
  color: #66fcf1;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer__option__item p {
  color: #c5c6c7;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
}
.footer__option__item .read__more {
  font-size: 16px;
  color: #c5c6c7;
}
.footer__option__item .read__more:hover {
  color: #66fcf1;
}
.footer__option__item .read__more span {
  font-size: 16px;
  color: #c5c6c7;
  opacity: 0.5;
  position: relative;
  top: 4px;
  margin-left: 5px;
}
.footer__option__item .read__more span:hover {
  color: #66fcf1;
}
.footer__option__item ul li {
  list-style: none;
}
.footer__option__item ul li a {
  color: #c5c6c7;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
}
.footer__option__item ul li a:hover {
  color: #66fcf1;
}
.footer__option__item form {
  position: relative;
}
.footer__option__item form input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #544e5e;
  background: transparent;
  font-size: 16px;
  color: #adadad;
}
.footer__option__item form input::-webkit-input-placeholder {
  color: #adadad;
}
.footer__option__item form input::-moz-placeholder {
  color: #adadad;
}
.footer__option__item form input:-ms-input-placeholder {
  color: #adadad;
}
.footer__option__item form input::-ms-input-placeholder {
  color: #adadad;
}
.footer__option__item form input::placeholder {
  color: #adadad;
}
.footer__option__item form button {
  font-size: 20px;
  color: #ffffff;
  border: none;
  height: 50px;
  width: 50px;
  background: #00bfe7;
  line-height: 50px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}

.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
}

.footer__copyright__text {
  margin-bottom: 0;
  font-weight: 300;
}
.footer__copyright__text i {
  color: #00bfe7;
}
.footer__copyright__text a {
  color: #00bfe7;
}