.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: gold;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #000000;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #d8a31c;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }
  
  @media (max-width: 1202px) {
    #header {
      width: 300px;
      background: rgba(17, 17, 17, 0.925);
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 1202px) {
    #main {
      margin-left: 100px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  
  .nav-menu {
    padding: 0 !important;
    display: block;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i {
    font-size: 20px;
  }
  
  .nav-menu a span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 1202px) {
    .nav-menu a {
      width: 56px;
    }
    .nav-menu a span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
    color: rgb(0, 0, 0);
    background: gold;
  }
  
  .nav-menu a:hover span, .nav-menu .active span, .nav-menu li:hover > a span {
    color: rgb(0, 0, 0);
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 100%;
    color: rgb(0, 0, 0);
  }
  
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
  
  .mobile-nav-toggle i {
    color: #45505b;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: #f6f6f6;
  }


  
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
