
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    color: #272829;
    background: linear-gradient(-45deg, #C5C6C7, #1F2833, #45A29E, #23d5ab);
    /*background: linear-gradient(-45deg, #ee7752, #f34d8d, #23a6d5, #23d5ab);*/
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
    /*background-image:
    radial-gradient(
      circle closest-side,
      gold 40%,
      #746bff 100%
    );
    
  }*/
  
  a {
    color: #66fcf1;
    text-decoration: none;
  }
  
  a:hover {
    color: #c5c6c7;
    text-decoration: none;
  }
  
 
  
  .submitBtn{
    height: 48px;
    width:150px;
    border-radius: 24px;
      outline: none;
      background: none;
      display: block;
      margin: 0px 20px 20px 20px;
      text-align: center;
    border-color: #45A29E;
    color: rgb(0, 0, 0);
    background-color: #66FCF1;
   /*background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);*/
    transition: all 150ms ease-in-out;
  
  }
  .submitBtn:hover {
    background: 	#303030;
    box-shadow: 0 0 10px 0 #45A29E inset, 0 0 10px 4px #66FCF1;
    color: rgb(255, 255, 255);
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }

  
 
  .scrolled-offset {
    margin-top: 60px;
  }



/*modal*/


.modal {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0em;
    overflow: auto;
    overflow-x: hidden;
    border: 25px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
}

.modal-content {
    width: 80%;
    border-radius: 25px;
    height: 100%;
    margin: auto;
    padding: 30px 70px;
    background-color: #0b0c10 !important;
    overflow: auto;
    overflow-x: hidden;
    color: white !important;
}

.modal_close {
    color: #45a29e;
    float: right;
    font-size: 30px;
    font-weight: bold;
    text-align: end;
}

.modal_close:hover,
.modal_close:focus {
    color: #66fcf1;
    text-decoration: none;
    cursor: pointer;
}

.modal h4,
.modal h5 {
    font-size: 20px;
    font-family: "Play", sans-serif;
    margin-bottom: 10px;
}

.modal h4 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center !important;
    color: #66fcf1;
}

.modal h5 {
    margin: 0;
    font-size: 23px;
    color: #66fcf1;
    text-transform: uppercase;
    text-align: justify!important;
    margin-bottom: 1.2em;
}

.bullet {
    margin-bottom: 2em;
}

.description {
    width: 100%;
    height: auto;
    font-family: "Play", sans-serif;
    text-align: center;
    padding: 20px;
    line-height: 2em;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: justify!important;
}



.modal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modal a {
    color: white;
    text-decoration: none;
}














/*Small screen*/

@media (max-width: 576px) {

    .flickity-prev-next-button {
        width: 30px  !important;
        height: 30px  !important;
    }
    .card {
        width: 225px !important;
    }
    .carousal {
        padding-left:0px !important;
        padding-right:0px !important;
    }

    .carousel-wrapper{
        width:100% !important;
        margin:0px !important;
    }
    .carousel-wrapper .carousel .carousel-cell {
        
        width: auto !important;
    }


    .modal {
        border: 20px solid rgba(0, 0, 0, 0);
    }
    .modal-content {
        width: 97%;
        padding: 15px 20px;
    }
    .description,
    .details {
        font-size: 14px;
    }
    .modal h4 {
        font-size: 22px;
    }
    .modal h5 {
        font-size: 18px;
    }
    .modal button {
        font-size: 18px;
    }
    .social-media-icons a {
        width: 40px;
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 19px;
    }
    .social-media-icons {
        height: 130px;
    }
}


/*Mobile*/

@media (min-width: 577px) and (max-width: 767px) {

    .card {
        width: 225px !important;
    }
    

    .carousel-wrapper{
        width:100% !important;
    }
    .carousel-wrapper .carousel .carousel-cell {
        
        width: auto !important;
    }

    .modal-content {
        width: 90%;
        padding: 15px 20px;
    }
    .description,
    .details {
        font-size: 15px;
    }
    .modal h4 {
        font-size: 23px;
    }
    .modal h5 {
        font-size: 18px;
    }
    .modal button {
        font-size: 19px;
    }
}


/*Tablet*/

@media (min-width: 768px) and (max-width: 1199px) {


    .card {
        width: 225px !important;
    }
    

    .carousel-wrapper{
        width:100% !important;
    }
    .carousel-wrapper .carousel .carousel-cell {
        
        width: auto !important;
    }
    .modal-content {
        width: 93%;
        padding: 20px 30px;
    }
    .modal-div p {
        -webkit-line-clamp: 3;
    }
}



.flickity-prev-next-button {
    background: #ffffff !important;
}



.panel-group .panel{
    background-color: #0b0c10;
    border:none;
    box-shadow:none;
    border-radius: 10px;
    margin-bottom:11px;
  }
  .panel .panel-heading{
    padding: 0;
    border-radius:10px;
    border: none;
  }
  .panel-heading a{
    text-decoration:none;
    color:white!important;
    display: block;
    border:none;
    padding:20px 35px 20px;
    font-size: 20px;
    background-color:#0b0c10;
    font-weight:600;
    position: relative;
    color:#fff;
    box-shadow:none;
    transition:all 0.1s ease 0;
  }
  .panel-heading a:after, .panel-heading a.collapsed:after{
    content: "\f068";
    font-family: fontawesome;
    text-align: center;
    position: absolute;
    left:-20px;
    top: 10px;
    color:#0b0c10 !important;
    background-color:#66fcf1;
    border: 5px solid #66fcf1;
    font-size: 15px;
    width: 40px;
    height:40px;
    line-height: 30px;
    border-radius: 50%;
    transition:all 0.3s ease 0s;
  }
  .panel-heading:hover a:after,
  .panel-heading:hover a.collapsed:after{
    transform:rotate(360deg);
  }
  .panel-heading a.collapsed:after{
    content: "\f067";
  }
  #accordion .panel-body{
    background: color #c5c6c7;;
    color:white;
    line-height: 25px;
    padding: 10px 25px 20px 35px ;
    border-top:none;
    font-size:14px;
    position: relative;
  }
  .text-white{
    color:#66fcf1;
    text-transform: uppercase;
  }